{% extends 'base.html.twig' %}

{% block header %}
    <header class="mb-3">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand m-3">Новости по тэгу: #{{ tag }}</a>
                <a class="navbar-brand link" href="/">Вернуться на главную</a>
            </div>
        </nav>
    </header>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h2 class="text-info">Новости</h2>
            <div class="posts_container">
                {% for post in posts %}
                    <div class="card mb-3 bg-light">
                        <div class="card-body">
                            <!--<h5 class="card-title">Card title</h5>-->
                            <p class="card-text">{{ post.text }}</p>
                            <p class="card-text"><small class="text-muted">{{ post.publishedAt|date }}</small></p>
                        </div>
                    </div>
                {% endfor %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {{ knp_pagination_render(posts) }}
                    </ul>
                </nav>

            </div>
        </div>
        <div class="col-4">
            <div class="tags ms-5 ">
                <h2>Тэги</h2>
                {% for tag in popularTags %}
                    <p>#{{ tag.tag }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}